<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.ReviewMapper">
	<!--レビュー -->
	<select id="reviewEntity"
		resultType="ltd.newbee.mall.newbeemall.entity.ReviewEntity">
		select
		distinct rev.goods_id,rev.review_id,rev.order_id,
		rev.nick_name,rev.rating,rev.title,rev.content,rev.photo1,
		li.review_id,count(li.review_id) as count,rev.review_date 
		from
		review as rev join
		tb_newbee_mall_order_item as ite
		on
		ite.order_id=rev.order_id and
		ite.goods_id=rev.goods_id
		left join review_like as li
		on
		rev.review_id=li.review_id
		where
		rev.goods_id=#{goodsId}
		group by
		rev.review_id
		order by rating desc,count desc;
	</select>


	<!--插入 -->
	<insert id="insertGoodsReview">
		insert into review
		(review_id,order_id,nick_name,rating,title,content,photo1,photo2,photo3,photo4,photo5,review_date,goods_id)
		values
		(#{reviewId}, #{orderId},
		#{nickName},#{rating},#{title},#{content},#{photo1},#{photo2},
		#{photo3},#{photo4},#{photo5},#{reviewDate},#{goodsId})
	</insert>
	<!--获取下个review_id -->
	<select id="maxReviewId" resultType="int">
		select max(review_id) from
		review
	</select>
	<!-- 判断是否可以插入 -->
	<select id="judgeEntity"
		resultType="int">
		select count(it.goods_id)
		from
		tb_newbee_mall_order_item as it left join review as rev
		on
		rev.order_id=it.order_id and rev.goods_id=it.goods_id
		join
		tb_newbee_mall_order as ord
		on
		it.order_id=ord.order_id
		where
		rev.order_id is null
		and user_id=#{userId} and it.goods_id=#{goodsId};
	</select>

	<!-- 求各个星的个数 -->
	<select id="starNumber" resultType="ltd.newbee.mall.newbeemall.entity.starNumberEntity">
		select distinct
		(select
		count(rating) from review where rating=5 and
		goods_id=#{goodsId} ) as
		rating5,
		(select count(rating) from review
		where rating=4 and
		goods_id=#{goodsId} ) as rating4,
		(select
		count(rating) from review
		where rating=3 and goods_id=#{goodsId} ) as
		rating3,
		(select
		count(rating) from review where rating=2 and
		goods_id=#{goodsId} ) as
		rating2,
		(select count(rating) from review
		where rating=1 and
		goods_id=#{goodsId} ) as rating1
		from review
	</select>




	<!-- 平均レート 总评价  写评论数 -->
	<select id="comStar"
		resultType="ltd.newbee.mall.newbeemall.entity.starNumberEntity">
		select
		avg(rating) as count_star,
		count(content) as count_content,
		count(rating) as count_rating from review
		where goods_id=#{goodsId}
	</select>
	
	<!-- 点赞 -->
	<!-- 判断是否可以插入 -->
	<select id="judgeLike"
		resultType="int">
		select count(*) from review_like where user_id=#{userId} and review_id=#{reviewId}
	</select>
	<insert id="insertReviewLike">
		insert into review_like
		(review_id,user_id,review_date)
		values
		(#{reviewId},#{userId},#{reviewDate})		
	</insert>
	
 <!--插入数据 方法2 -->
	<insert id="insertGoodsReview2">
		insert into review
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="reviewId != null">
				review_id,
			</if>
			<if test="orderId != null">
				order_id,
			</if>
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="nickName != null">
				nick_name,
			</if>
			<if test="rating != null">
				rating,
			</if>
			<if test="title != null">
				title,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="photo1 != null">
				photo1,
			</if>
			<if test="photo2 != null">
				photo2,
			</if>
			<if test="photo3 != null">
				photo3,
			</if>
			<if test="photo4 != null">
				photo4,
			</if>
			<if test="photo5 != null">
				photo5,
			</if>
			<if test="reviewDate != null">
				review_date,
			</if>
		</trim>
		
 	</insert> 
	
	
</mapper>