<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.newbeemall.dao.ReviewMapper">
<!--レビュー-->
	<select id="reviewEntity"
		resultType="ltd.newbee.mall.newbeemall.entity.ReviewEntity">
		select distinct rev.goods_id,rev.review_id,rev.order_id,
		rev.nick_name,rev.rating,rev.title,rev.content,rev.photo1,li.review_id from review as rev  join tb_newbee_mall_order_item as ite
		on ite.order_id=rev.order_id left join review_like as li on rev.review_id=li.review_id 
		where rev.goods_id=#{goodsId}		
		order by rating desc;
	</select>
	<!--插入-->
	<select id="selectreview"
		resultType="ltd.newbee.mall.newbeemall.entity.ReviewEntity">
		select
		rev.order_id,ord.user_id,it.goods_id,it.order_id,it.goods_name
		from tb_newbee_mall_order_item as it left join review as rev
		on rev.order_id=it.order_id and rev.goods_id=it.goods_id left join
		tb_newbee_mall_order as ord
		on it.order_id=ord.order_id
		where rev.order_id is null and user_id=#{userId} and it.goods_id=#{goodsId};
	</select>
	
	<insert id="insertReview">
		insert into review (review_id,order_id,nick_name,rating,title,content,photo1,date,goods_id)
		values
		<foreach item="item" collection="list" separator=",">
			(#{item.reviewId}, #{item.orderId}, #{item.nickName},#{item.rating},#{item.title},#{item.content},#{item.photo1},
			#{item.date},#{item.goodsId})
		</foreach>
	</insert>

</mapper>